div {
    padding: 2em;
    border: 1px dashed #333;
    position: relative;
}

p {
    position: absolute;
    top: 0.1em;
    left: 0.7em;
    margin: 0;
}

.box-model {
    width: 600px;
    margin: 0 auto;
}

.margin {
    background-color: lightsalmon;
}

.border {
    background-color: blanchedalmond;
}

.padding {
    background-color: lightgreen;
}

.content {
    background-color: lightblue;
    text-align: center;
}