@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap);

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'Gochi Hand', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: 'Gochi Hand', sans-serif;
    background-color: #e0e0e0;
    color: #686d6e;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    margin-top: 2em;
}

.postcard {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 1000px;
    padding: 2em;
}

.image-section {
    position: relative;
}

.image-section img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0px;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    font-size: 1.3em;
}

.text-overlay h1 {
    font-family: inherit;
    color: #333;
    margin: 0 0 10px;
}

.text-overlay p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #686d6e;
    line-height: 1;
}

.address-section {
    padding: 15px 30px;
    text-align: left;
    font-size: 1.9em;
    line-height: 1.6em;
}

.address-section b {
    display: block;
    color: #333;
    margin-bottom: 10px;
    padding-top: 0.5em;
    font-size: 2.3rem;
}

.custom-hr {
    border: none;
    border-top: 2px solid #ccc; /* Creates the horizontal line */
    margin-left:-25px;
    margin-right: -25px;
}